@{
    ViewData["Title"] = "Observações";
}
<h1>@ViewData["Title"]</h1>

<p>Precisei dá uma estudar sobre o que era pedido, principalmente Docker, nunca tinha usado, então vou deixar listado o que usei para desenvolver o projeto, grande parte do que aprendi foi em vídeo.</p>

<ul>
    <li><a href="https://www.youtube.com/watch?v=MCGOGUmGgJY">Docker</a></li>
    <li><a href="https://www.hostinger.com.br/tutoriais/docker-cheat-sheet?utm_campaign=Generic-Tutorials-DSA|NT:Se|LO:BR-t4&utm_medium=ppc&gad_source=1&gclid=Cj0KCQjwu8uyBhC6ARIsAKwBGpRc7w1OJpKGUkhPyYzO8y5G2ofHe8aamwSYS2IFM1ESApITyWWQNyMaArLLEALw_wcB">Comandos Docker</a></li>
    <li><a href="https://felixgilioli.medium.com/como-rodar-um-banco-de-dados-postgres-com-docker-6aecf67995e1">Docker com Postgres</a></li>
    <li><a href="https://www.youtube.com/watch?v=rgSnRND1blw">MVC em c# - Asp.NET</a></li>
    <li><a href="https://www.youtube.com/watch?v=1cZ-IdxekC4"</a>Migrations | .NET WebAPI</li>
    <li><a href="https://docs.docker.com/language/dotnet/containerize/">Containerize a .NET application</a></li>
    <li><a href="https://www.youtube.com/watch?v=vAUXU0YIWlU">Autentificação, mas esse plus, eu travei</a></li>
</ul> 

<p><a href="https://www.linkedin.com/in/agnaldopeterson/">Meu Linkedin</a></p>